<%= form_for(@vm) do |f| %>
  <% if @vm.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vm.errors.count, "error") %> prohibited this vm from being saved:</h2>

      <ul>
      <% @vm.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ip %><br>
    <%= f.text_field :ip %>
  </div>
  <div class="field">
    <%= f.label :vm_status %>:<br>
    <%= f.radio_button :vm_status, 'true' %>
    <%= f.label :Running %>
    <%= f.radio_button :vm_status, 'false', checked: true %>
    <%= f.label :Stopped %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, rows:8 %>
  </div>
  <div class="field">
    <%= f.label :user %><br>
    <%= f.text_field :user %>
  </div>
  <div class="field">
    <%= f.label :period %><br>
    <%= f.text_area :period, rows: 4 %>
  </div>
  <div>
    <%= f.label :build %><br>
    <%= f.text_area :build, rows: 4 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
