 <header>
  <nav class="navbar navbar-default navbar-inverse" role="navigation">
	<div class="collapse navbar-collapse">
	  <div class="container">
		<%= link_to "Cognos QC share dashboard", '#', id: "logo" %>
		<ul class="nav navbar-nav pull-right">
			<li class="active"><%= link_to "Home", portal_path %></li>
			<li class="dropdown" >
				<%= link_to "Docs", previewpage_index_path %>
				<ul class="dropdown-menu">
				  <%= render 'pdfviews/pdfrecent' %>
				</ul>
			</li>
			<li class="dropdown" >
				<%= link_to "Links", linkpage_index_path %>
					<ul class="dropdown-menu">
						<%= render 'links/most_links' %>
					</ul>
			</li>
				
			<li><%= link_to "Contact", '#' %></li>
			<li class="dropdown">
				<%= link_to "Admin", adminpage_index_path %>
				<ul class="dropdown-menu">
					<%= render 'adminpage/admin_options' %>
				</ul>		
			</li>
		</ul>
	  </div>
	</div>
  </nav>
</header>