 <header>
  <nav class="navbar navbar-default navbar-inverse" role="navigation">
	<div class="collapse navbar-collapse">
	  <div class="container">
		<%= link_to "Cognos QC share dashboard", '#', id: "logo" %>
		<ul class="nav navbar-nav pull-right">
			<li class="active"><%= link_to "Home", portal_path %></li>
			<li class="dropdown" >
				<%= link_to "Docs", previewpage_index_path %>
				<ul class="dropdown-menu">
				  
				</ul>
			</li>
			<li class="dropdown" >
				<%= link_to "Links", linkpage_index_path %>
					<ul class="dropdown-menu">
						<li><%= link_to "CQ", "https://cognoscq.ottawa.ibm.com/cqweb/", target: "_blank" %></li>
						<li><%= link_to "Build Component List", "http://9.119.129.85:8080/cmplst.html", target: "_blank" %></li>
						<li><%= link_to "IBM Sofware Download Page", "http://w3-103.ibm.com/software/xl/download/ticket.do", target: "_blank" %></li>
					</ul>
			</li>
				
			<li><%= link_to "Contact", '#' %></li>
			<li class="dropdown">
				<%= link_to "Admin", adminpage_index_path %>
				<ul class="dropdown-menu">
					<li><%= link_to 'Docs Upload', pdfviews_path %></li>
					<li><%= link_to 'Add New Links', links_path %></li>
					<li><a href="# Contacts">Add Contacts</a></li>
					<li><%= link_to 'VM Managment', vms_path %></li>
				</ul>		
			</li>
		</ul>
	  </div>
	</div>
  </nav>
</header>